.card {
    margin-bottom: 10px;
}

.event-banner-container {
    color: #fff;
    background: #444;
    padding: 0;
}

.event-banner-content {
    margin: 0;
}

.event-banner-tag {
    padding: 5px 15px;
    color: #fff;
    background: #ec2f4b;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.event-banner-tag h1 {
    font-size: 2em;
    margin: 0;
    align-self: center;
}

.event-banner-details {
    padding: 10px;
    flex: 1;
}

.event-banner-more-info {
    padding: 10px;
    flex: 1;
    align-self: center;
}

.cta {
    padding: 0;
}

.cta-anchor {
    color: #fff;
    background: #444;
    padding: 10px;
    margin: 0;
}

.cta .card-heading {
    color: #fff;
    background: #ec2f4b;
    padding: 10px;
    margin-bottom: 10px;
}

a.github {
    color: #24292e;
}

a.meetup {
    color: #ed1c40;
}

a.twitter {
    color: #1da1f2;
}

a:hover,
a:focus {
    text-decoration: none;
}

a.social-link:hover {
    opacity: 0.7;
}
