.card {
    margin-bottom: 10px;
}

a.github {
    color: #24292e;
}

a.meetup {
    color: #ed1c40;
}

a.twitter {
    color: #1da1f2;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* highlight social links on hover */
a.social-link:hover::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.125);
}

