.card {
    margin-bottom: 10px;
}

a.github {
    color: #24292e;
}

a.meetup {
    color: #ed1c40;
}

a.twitter {
    color: #1da1f2;
}

a:hover,
a:focus {
    text-decoration: none;
}

a.social-link:hover {
    opacity: 0.7;
}
